<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExerciseSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.automationexercise.framework.TestExecutionListener"/>
    </listeners>

    <test name="AutomationTests">
        <classes>

            <class name="com.automationexercise.tests.SignUpTest"/>
            <class name="com.automationexercise.tests.HomeTest"/>
            <class name="com.automationexercise.tests.ProductTest"/>
            <class name="com.automationexercise.tests.ContactUsTest"/>
            <class name="com.automationexercise.tests.CategoryViewTest"/>
            <class name="com.automationexercise.tests.CartTest"/>
            <class name="com.automationexercise.tests.CheckoutCompleteTest"/>

        </classes>
    </test>
</suite>
